<!DOCTYPE html>
<html>
	<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	
	
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	

	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

	</head>

  <style>
  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  
</style>
  </head>
<body>

<!-- http://angular-ui.github.io/bootstrap/#!#top -->
<!-- https://www.w3schools.com/icons/icons_reference.asp -->

<div ng-app="myApp" ng-controller="myCtrl">
   <div class="container">
      <div class="">
         <H1>
            <strong>NSE</strong> 
            <span style = "color:silver;font-weight: 300;">
               Stock Research
            </span>
         </H1>
         <div class="well well-sm">
            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal">
            New <i class='fas fa-plus' style='font-size:12px'></i>
            </button>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
            Alert <i class='fas fa-bell	' style='font-size:12px'></i>
            </button>	
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
            {{user.email}} <i class='fas fa-user-cog' style='font-size:12px'></i>
            </button>	
            <span style = "font-size:16px;float:right;color:#33333375">{{currentTime}}</span>
         </div>
         <p class="form-group">
            <input type="text" id="symbol" ng-model="symbol" class="form-control"
               placeholder="Custom template" uib-typeahead="comp.symbol as comp.symbol for comp in nse_companies | filter:{name:$viewValue}| limitTo:8"  
               typeahead-show-hint="true" typeahead-min-length="0"> 
         </p>
         <p class="form-group">
            <input type="text" id="startDate" ng-model="startDate" placeholder = "DD-MM-YYYY" class="form-control">  
         </p>
         <p class="form-group">
            <Button type="button" class="btn btn-info btn-sm" ng-click="fetch()">Get price</Button>
         </p>
         <p class="form-group">
         <h5>{{symbol}} on {{startDate}}</h5>
         </p>
         <h2 style="color:green"> &#8377; <span ng-hide="loading"> {{stock.price}}</span>  <span ng-show="loading"><img src="loader.gif" height="35px"></span>  </h2>
      </div>
      
      <br>
      <div>
      	
      </div>
      
      <div>
      	<table class="table table-condensed">
      		<thead>
      			<th>Stock</th>
      			<th>Company</th>
      			<th>Tracking from</th>
      			<th class="text-right">Price</th>
      			<th class="text-right">Current</th>
      		</thead>
      		<tbody ng-repeat = "stock in tracked_stocks">
      			<td>{{stock.cusip.cusip}}</td>
      			<td>{{stock.cusip.name}}</td>
      			<td>{{stock.cusip.tradingFrom}}</td>
      			<td class="text-right"> &#8377; {{stock.price}}</td>
      			<td class="text-right"> &#8377;</td>
      		</tbody>
      	</table>
      </div>
      
   </div>
   
   
   <!-- Modal -->
   <div class="container">
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body"> 
               
					<div  style="float:left;">
	            	<input type="text" id="addSymbol" ng-model="addSymbol" class="form-control"
	               			placeholder="Company / Symbol" uib-typeahead="comp.symbol as comp.symbol for comp in nse_companies | filter:{name:$viewValue}| limitTo:8"  
	               	typeahead-show-hint="true" typeahead-min-length="0"
	               	>
	               					 
					</div>
					<div style="float:left">
					<input type="text" ng-model="trackDate" class="form-control">
	               	
					</div>
					
				<button type="button" class="btn btn-info btn-md" ng-click="track()">Add</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
               </div>
               <div class="modal-footer">
                  Price tracker
               </div>
            </div>
         </div>
      </div>
   </div>
   
</div>

<script type="text/ng-template" id="customTemplate.html">
	 <div style = "padding:5px;">
      <span ng-bind-html="comp.symbol"></span>
	</div>
</script>    

<script>
var app = angular.module('myApp', ['ngAnimate', 'ngSanitize','ui.bootstrap']);

app.controller('myCtrl', function($scope, $http, $interval) {

	$scope.symbol = "";
	$scope.startDate =  moment().format('DD-MM-YYYY');; ;
	$scope.endDate = $scope.startDate;
	$scope.selected = undefined;
	$scope.isCollapsed = true;
	$scope.addSymbol = "";
	
	
	
	$interval(function() {
		$scope.currentTime = moment().format('MMMM Do YYYY, h:mm:ss a');
      }, 100);
    
	$scope.modelOptions = {
		    debounce: {
		      default: 500,
		      blur: 250
		    },
		    getterSetter: true
		  };
	
	$scope.fetch = function(){
		$scope.loading = true;
		  $http({
			    method : "POST",
			    url : "/cusip/historical",
			    data: { symbol: $scope.symbol, startDate:$scope.startDate, endDate:$scope.startDate }
			  }).then(function mySuccess(response) {
			      $scope.stock = response.data;
			      $scope.loading = false
			    }, function myError(response) {
			      $scope.myWelcome = response.statusText;
			      $scope.loading = false;
			  });
	}
	
	$scope.fetch_nse = function(){
		$http({
			method: "GET",
			url: "/company/nse",
		}).then(function succ(response){
			$scope.nse_companies = response.data;
		}, function err(resp){
			//alert("Error: Can't get companies list " + resp);
			$scope.nse_companies = resp;
		});
	}
	
	$scope.tracked_stocks = [];
	$scope.user = {"id": 3225	};
	$scope.id = $scope.user.id; 
	$scope.addSymbol = "";
	$scope.trackDate = moment().format('DD-MM-YYYY');
	$scope.track = function(){
		$http({
			method: "POST",
			url: "/track/" + $scope.user.id + "/symbol/" + $scope.addSymbol + "/date/" + $scope.trackDate
		}).then(function(response){
			//$scope.user = response.data.user;
			$scope.tracked_stocks = response.data;
			console.log(response.data);
			// Add to temp tracked table
		}, function(err){
			alert("Error: Can't fetch tracked companies " + err);
		});
	}
	
	$scope.get_tracked_companies = function(){
		console.log("user = " + $scope.user.id);
		console.log($scope.user);
		$http({
				method: "GET",
				url: "/user/" + $scope.id + "/stocks",
			}).then(function(response){
				$scope.tracked_stocks = response.data;
			}, function(err){
				alert("Error: Can't fetch tracked comapnies " + err);
			});	
	} 
	
	$scope.get_user = function(){
		$scope.user = $http({
			url: "/user/"+$scope.user.id,
			method: "GET"
		}).then(function(response){
			$scope.user = response.data;
		}, function(err){
			alert("Unknown user");
		});
	}
	
	$scope.get_user();
	$scope.fetch_nse();
	$scope.get_tracked_companies();
});
</script>

</body>
</html>
