
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style = "background-color: #cccccc0d;">
<style>
	.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    	border-style:none;
	}
	
	label {
	    font-weight: 1;
	    font-family: monospace;
	    color: darkslateblue;
	}
	h2{
		font-weight:200;
	}
	.well{
		background-color: white;
		box-shadow: 0px 0px 7px 3px rgba(0,0,0,.05);
	}
</style>
<div class="container" >
<div class="container" ng-app="myApp" ng-controller="myCtrl">
<BR><BR>

 <form class="form-inline ">
	<div class="">
	<div style = "">
		<div style ="font-size:70px;float:left;font-weight:300;"> Ratio </div>
		<BR>
		<div style = "float:right;widht:relative;">
			<div  style="float:left;">
			<input type="text" id="symbol" ng-model="company" class="form-control input-sm"
		    placeholder="Company" uib-typeahead="comp.symbol as comp.symbol for comp in nse_companies | filter:{name:$viewValue}| limitTo:8"  
		    typeahead-show-hint="true" typeahead-min-length="0"> 
		    </div>
			 &nbsp; for the year &nbsp;   
			<input id="pl_year" ng-model= "year" type="text" class="form-control input-sm" placeholder="year">
			 &nbsp; for the quarter &nbsp;   
			<input id="pl_quarter" ng-model= "quarter" type="text" class="form-control input-sm" placeholder="quarter">
			
			<button type="button" class="btn btn-success" ng-click="saveRatio();">Save</button>
			<button type="button" class="btn btn-info" ng-click="getRatio();">Load</button>
		</div>	
	</div>
    

<BR><BR>
<BR><BR>

		  
	<div class="well">
	<h2>Income</h2>
	<BR>    
	 <table class="table table-condensed ">
	    <tbody>


			<tr>
				<td><label for="focusedInput">basicEps</label></td>
			
				<td> <input id="basicEps" ng-model = "basicEps" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Diluted EPS</label></td>
				<td> <input id="dilutedEps" ng-model = "dilutedEps" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Cash EPS</label></td>
			
				<td> <input id="cashEps" ng-model = "cashEps" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Book Value Excl Reval Reserve Or Share</label></td>
				<td> <input id="bookValueExclRevalReserveOrShare" ng-model = "bookValueExclRevalReserveOrShare" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Book Value Incl Reval Reserve Share</label></td>
			
				<td> <input id="bookValueInclRevalReserveShare" ng-model = "bookValueInclRevalReserveShare" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Dividend Per Share</label></td>
				<td> <input id="dividendPerShare" ng-model = "dividendPerShare" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Revenue From Operations Per Share</label></td>
			
				<td> <input id="revenueFromOperationsPerShare" ng-model = "revenueFromOperationsPerShare" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">PBIT Per Share</label></td>
				<td> <input id="pbditPerShare" ng-model = "pbditPerShare" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">PBIT Per Share</label></td>
			
				<td> <input id="pbitPerShare" ng-model = "pbitPerShare" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Net Profit Per Share</label></td>
				<td> <input id="netProfitPerShare" ng-model = "netProfitPerShare" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">PBIT Margin Percent</label></td>
			
				<td> <input id="pbditMarginPercent" ng-model = "pbditMarginPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">PBIT Margin Percent</label></td>
				<td> <input id="pbitMarginPercent" ng-model = "pbitMarginPercent" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">PBT Margin Percent</label></td>
			
				<td> <input id="pbtMarginPercent" ng-model = "pbtMarginPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Net Profit Margin Percent</label></td>
				<td> <input id="netProfitMarginPercent" ng-model = "netProfitMarginPercent" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Return On Networth Per Equity Percent</label></td>
			
				<td> <input id="returnOnNetworthPerEquityPercent" ng-model = "returnOnNetworthPerEquityPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Return on Capital Employed Percent</label></td>
				<td> <input id="returnOnCapitalEmployedPercent" ng-model = "returnOnCapitalEmployedPercent" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Return on Assets Percent</label></td>
			
				<td> <input id="returnOnAssetsPercent" ng-model = "returnOnAssetsPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Total Debt Per Equity Ratio</label></td>
				<td> <input id="totalDebtPerEquityRatio" ng-model = "totalDebtPerEquityRatio" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Asset Turnover Ratio Percent</label></td>
			
				<td> <input id="assetTurnoverRatioPercent" ng-model = "assetTurnoverRatioPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Current Ratio</label></td>
				<td> <input id="currentRatio" ng-model = "currentRatio" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Quick Ratio</label></td>
			
				<td> <input id="quickRatio" ng-model = "quickRatio" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Inventory Turnover Ratio</label></td>
				<td> <input id="inventoryTurnoverRatio" ng-model = "inventoryTurnoverRatio" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Dividend Payout Ratio Np Percent</label></td>
			
				<td> <input id="dividendPayoutRatioNpPercent" ng-model = "dividendPayoutRatioNpPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Dividend Payout Ratio CP Percent</label></td>
				<td> <input id="dividendPayoutRatioCpPercent" ng-model = "dividendPayoutRatioCpPercent" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Earning Retention Ratio Percent</label></td>
			
				<td> <input id="earningRetentionRatioPercent" ng-model = "earningRetentionRatioPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Cash Earning Retention Ratio Percent</label></td>
				<td> <input id="cashEarningRetentionRatioPercent" ng-model = "cashEarningRetentionRatioPercent" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Enterprise Value</label></td>
			
				<td> <input id="enterpriseValue" ng-model = "enterpriseValue" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Ev or Net Operating Revenue</label></td>
				<td> <input id="evOrNetOperatingRevenue" ng-model = "evOrNetOperatingRevenue" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Ev Or EBIT da</label></td>
			
				<td> <input id="evOrEbitda" ng-model = "evOrEbitda" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">marketCapOrNetOperatingRevenue</label></td>
				<td> <input id="marketCapOrNetOperatingRevenue" ng-model = "marketCapOrNetOperatingRevenue" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Retention Ratios Percent</label></td>
			
				<td> <input id="retentionRatiosPercent" ng-model = "retentionRatiosPercent" type="text" class="form-control input-sm" placeholder=""> </td>
				<td><label for="focusedInput">Price Per bv</label></td>
				<td> <input id="pricePerbv" ng-model = "pricePerbv" type="text" class="form-control input-sm" placeholder=""> </td>
			</tr>
			<tr>
				<td><label for="focusedInput">Earnings Yields</label></td>
			
			<td> <input id="earningsYields" ng-model = "earningsYields" type="text" class="form-control input-sm" placeholder=""> </td>	
			</tr>				
	      </tbody>
		</table>
	</div>
	
	</div> 
</form>
</div>
</div>

</body>
<script type="text/javascript">
	var app = angular.module('myApp', ['ngAnimate', 'ngSanitize','ui.bootstrap']);
	app.controller('myCtrl', function($scope, $http, $interval) {
		  
	
		   $scope.saveRatio = function(){
			   $http({
				    method : "POST",
				    url : "company/" + $scope.company  + "/ratios" ,
				    data: { 
				    	quarter: $scope.quarter,
				    	year: $scope.year,
				    	basicEps: $scope.basicEps,
				    	dilutedEps: $scope.dilutedEps,
				    	cashEps: $scope.cashEps,
				    	bookValueExclRevalReserveOrShare: $scope.bookValueExclRevalReserveOrShare,
				    	bookValueInclRevalReserveShare: $scope.bookValueInclRevalReserveShare,
				    	dividendPerShare: $scope.dividendPerShare,
				    	revenueFromOperationsPerShare: $scope.revenueFromOperationsPerShare,
				    	pbditPerShare: $scope.pbditPerShare,
				    	pbitPerShare: $scope.pbitPerShare,
				    	netProfitPerShare: $scope.netProfitPerShare,
				    	pbditMarginPercent: $scope.pbditMarginPercent,
				    	pbitMarginPercent: $scope.pbitMarginPercent,
				    	pbtMarginPercent: $scope.pbtMarginPercent,
				    	netProfitMarginPercent: $scope.netProfitMarginPercent,
				    	returnOnNetworthPerEquityPercent: $scope.returnOnNetworthPerEquityPercent,
				    	returnOnCapitalEmployedPercent: $scope.returnOnCapitalEmployedPercent,
				    	returnOnAssetsPercent: $scope.returnOnAssetsPercent,
				    	totalDebtPerEquityRatio: $scope.totalDebtPerEquityRatio,
				    	assetTurnoverRatioPercent: $scope.assetTurnoverRatioPercent,
				    	currentRatio: $scope.currentRatio,
				    	quickRatio: $scope.quickRatio,
				    	inventoryTurnoverRatio: $scope.inventoryTurnoverRatio,
				    	dividendPayoutRatioNpPercent: $scope.dividendPayoutRatioNpPercent,
				    	dividendPayoutRatioCpPercent: $scope.dividendPayoutRatioCpPercent,
				    	earningRetentionRatioPercent: $scope.earningRetentionRatioPercent,
				    	cashEarningRetentionRatioPercent: $scope.cashEarningRetentionRatioPercent,
				    	enterpriseValue: $scope.enterpriseValue,
				    	evOrNetOperatingRevenue: $scope.evOrNetOperatingRevenue,
				    	evOrEbitda: $scope.evOrEbitda,
				    	marketCapOrNetOperatingRevenue: $scope.marketCapOrNetOperatingRevenue,
				    	retentionRatiosPercent: $scope.retentionRatiosPercent,
				    	pricePerbv: $scope.pricePerbv,
				    	earningsYields: $scope.earningsYields
					    	 	
				    	}
				  }).then(function mySuccess(response) {
				         $scope.loading = false
				    	 
				    }, function myError(response) {
				      $scope.myWelcome = response.statusText;
				      $scope.loading = false;
				});	   
		   }
		   
		 $scope.getRatio = function(){
			 $http({method: "GET", 
				url: "company/" + $scope.company + "/year/"+ $scope.year + "/quarter/" + $scope.quarter + "/ratios"
			 }).then(function success(response){
				 $scope.quarter = response.data.quarter;
				 $scope.year = response.data.year;
				 $scope.basicEps = response.data.basicEps;
				 $scope.dilutedEps = response.data.dilutedEps;
				 $scope.cashEps = response.data.cashEps;
				 $scope.bookValueExclRevalReserveOrShare = response.data.bookValueExclRevalReserveOrShare;
				 $scope.bookValueInclRevalReserveShare = response.data.bookValueInclRevalReserveShare;
				 $scope.dividendPerShare = response.data.dividendPerShare;
				 $scope.revenueFromOperationsPerShare = response.data.revenueFromOperationsPerShare;
				 $scope.pbditPerShare = response.data.pbditPerShare;
				 $scope.pbitPerShare = response.data.pbitPerShare;
				 $scope.netProfitPerShare = response.data.netProfitPerShare;
				 $scope.pbditMarginPercent = response.data.pbditMarginPercent;
				 $scope.pbitMarginPercent = response.data.pbitMarginPercent;
				 $scope.pbtMarginPercent = response.data.pbtMarginPercent;
				 $scope.netProfitMarginPercent = response.data.netProfitMarginPercent;
				 $scope.returnOnNetworthPerEquityPercent = response.data.returnOnNetworthPerEquityPercent;
				 $scope.returnOnCapitalEmployedPercent = response.data.returnOnCapitalEmployedPercent;
				 $scope.returnOnAssetsPercent = response.data.returnOnAssetsPercent;
				 $scope.totalDebtPerEquityRatio = response.data.totalDebtPerEquityRatio;
				 $scope.assetTurnoverRatioPercent = response.data.assetTurnoverRatioPercent;
				 $scope.currentRatio = response.data.currentRatio;
				 $scope.quickRatio = response.data.quickRatio;
				 $scope.inventoryTurnoverRatio = response.data.inventoryTurnoverRatio;
				 $scope.dividendPayoutRatioNpPercent = response.data.dividendPayoutRatioNpPercent;
				 $scope.dividendPayoutRatioCpPercent = response.data.dividendPayoutRatioCpPercent;
				 $scope.earningRetentionRatioPercent = response.data.earningRetentionRatioPercent;
				 $scope.cashEarningRetentionRatioPercent = response.data.cashEarningRetentionRatioPercent;
				 $scope.enterpriseValue = response.data.enterpriseValue;
				 $scope.evOrNetOperatingRevenue = response.data.evOrNetOperatingRevenue;
				 $scope.evOrEbitda = response.data.evOrEbitda;
				 $scope.marketCapOrNetOperatingRevenue = response.data.marketCapOrNetOperatingRevenue;
				 $scope.retentionRatiosPercent = response.data.retentionRatiosPercent;
				 $scope.pricePerbv = response.data.pricePerbv;
				 $scope.earningsYields = response.data.earningsYields;
			 }, function error(response){
				 $scope.loading = false;
				 
			 });
		 }  
	});
	
</script>
</html>



